{% extends 'base.html.twig' %}

{% block body %}
{{ parent() }}

<div class="container-fluid mx-auto">
    <div class="row align-items-center bandeau">
        <div class="col text-center titreBandeauXL">
                <div class="text-center ">
                    Rest'O Coin
                </div>
                <a href="">                      
                        <button type="button" class="btn btn-outline-light btn-lg">Voir nos cartes</button>
                </a>
        </div>      
    </div>
</div>

{% endblock body %}
