{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="row bandeau">
    <img src="{{ asset('build/images/resto.jpg') }}" class="img-fluid" alt="Responsive image">
    <div class="caption">
            <p>Rest'O Coin</p>
            <a href="">                      
                    <button type="button" class="btn btn-outline-light btn-lg">Voir nos cartes</button>
            </a>
    </div>
</div>
<div>
    <h3>{{ plat.getNom() }}</h3>
</div>
{% endblock body %}
