    body{
    background-image: url("../img/cartes.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
    width: auto;
    position: relative;
}
.navbar{
    background-color: transparent !important;  
}

.bandeau{
    height: 500px;
    margin: 30px;
    padding: 10px;
    border: 2px solid #312d2d;
    border-radius: 5px;
}

.insideBandeau{
    width: 100%;
}

.titreBandeauL{
    text-align: center;
    font-size: 6vh;
    color: #312d2d;
}
.titreBandeauM{
    text-align: center;
    font-size: 5vh;
    color: #312d2d;
}

.nav-link,.navbar-brand {
    color: #312d2d !important;
}

.navbar-toggler{
    color: #312d2d !important;
}
